<h1> All Shelters </h1>

<% @shelters.each do |shelter| %>
  <h2> <%= link_to shelter.name, "/shelters/#{shelter.id}" %></h2>
  <p><%= link_to 'Edit This Shelter', "/shelters/#{shelter.id}/edit"%></p>
  <p><%= link_to 'Delete This Shelter', "/shelters/#{shelter.id}", method: :delete %></p>
<% end %>

<%= link_to 'Create New Shelter', '/shelters/new'%>
