<h1> Add a New Shelter Listing </h1>

<form action='/shelters' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p> Enter the following information: </p>
  <input type ='text' name = 'shelter[name]' value = 'Name'/><br/>
  <input type ='text' name = 'shelter[address]'value = 'Address'/><br/>
  <input type ='text' name = 'shelter[city]' value = 'City'/><br/>
  <input type ='text' name = 'shelter[state]' value = 'State'/><br/>
  <input type ='text' name = 'shelter[zip_code]' value = 'Zip Code'/><br/>
  <input type='submit' value='Submit'/>
</form>
