/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* * { border: 1px dashed red } */

.flex-container {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #3AAFA9;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #ccc;
  font-family: Helvetica, Verdana, sans-serif;
  padding: 60px;
}

a {
  color: #17252A;
  padding: 1em;
 }

nav {
 margin: 50px;
}

ul {
 list-style-type: none;
}

li {
 height: 25px;
 float: left;
 margin-right: 0px;
 border-right: 1px solid #aaa;
 padding: 0 20px;
}

li:last-child {
 border-right: none;
}

li a {
 text-decoration: none;
 color: #ccc;
 font: 25px;
 font-family: Helvetica, Verdana, sans-serif;
 text-transform: uppercase;
 -webkit-transition: all 0.5s ease;
}

li a:hover {
 color: #666;
}

li.active a {
 font-weight: bold;
 color: #333;
}

.navbar {
  background-color: #3AAFA9;
}

a.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family: Helvetica, Verdana, sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}

a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}

@media all and (max-width:30em){
 a.button1{
  display:block;
  margin:0.4em auto;
 }
}
